
@font-face {
    font-family: 'Play';
    src: url('../fonts/play/play-regular.ttf');
}


/*убирает синий фон при нажатии*/
* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}


html {
	font-family: 'Play', 'arial', 'sans';
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 1.5;
    
}

body {
	width: 100vw;
	/*min-width: 200px;*/
	height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #c1c2af;
    background-color: #fff;
    overflow-x: hidden;
}



#shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: #000;
	z-index: 6900;
	pointer-events: none;
	transition: opacity 1s;
	opacity: 0;
}



#shadow.active {
	opacity: 1;
	width: 100vw;
	height: 100vh;
}

footer {
	background-color: #556832;
	
	width: 100%;
	height: 200px;

}


.polygon {
	width: 100%;
	pointer-events: none;
	
}


header {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*min-width: 960px;*/
    background-color: #4f7942;
    /*overflow: hidden;*/
    z-index: 9000;
    
}


header .header_wrapper {
    width: 100%;
    max-width: 1900px;
    /*min-width: 700px;*/
    height: 530px;
    height: 100vh;
    max-height: 1000px;
    min-height: 530px;
    position: relative;
    
}

/*
header.mini .header_wrapper {
	min-height: auto;
}
*/

h1, h2, h3, h4 {
	font-weight: normal;
}


/*

header.mini {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    background-color: #4f7942;
    position: fixed;
    left: 0;
    top: 0;
  
    z-index: 9000;
}



header.mini .header_wrapper {
    width: 100%;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

*/



.logo_mnu_wrapper.mini {
    /*display:flex;
    justify-content: center;
    align-items: center;
    */
    width: 100%;
  
    background-color: #4f7942;
    position: fixed;
    left: 0;
    top: 0;
  
    z-index: 9000;
}

.logo_mnu_wrapper {
	width: 100%;
	height: 60px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
	
}

.logo {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    /*padding: 0 30px;*/
    margin-left: 28px;
}

.logo a {
	margin-top: 6px;
}


.logo a>img {
    height: 40px;
}


.logo_text {
	display: flex;
    justify-content: center;
    align-items: center;
	
	height: 100%;
	position: absolute;
	top: 0;
	left: 76px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	color: #bdbdbd;
}


header h1 {
 
    color: #fff;
    font-size: 3.2rem; 
    text-transform: uppercase;
    /*text-decoration: underline;*/
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 0 15px 0;
}


header h2 {
    color: #bdbdbd;
    font-size: 1.6rem;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0 0 30px 0;
}

header h2 span {
	color: #fff;
}

/*
header h1 span {
    color: #f0f8ff;
    color: #d6d6d6;
    font-size: 4.8rem;
    font-size: 6rem;
    text-transform: uppercase; 
}

*/


.tittle_image_wrapper {
    width: 100%;
    height: 80%;
    display: grid;
	grid-template-columns: 1fr 2fr; /* кол-во и ширина колонок*/
	grid-template-rows: 3fr; /* кол-во и высота колонок*/
	grid-template-rows: 40% 30% 30%; /* кол-во и высота колонок*/
	grid-template-areas:
	"A B"
	"A C"
	"A D";
	/*column-gap: 20px; *//*расстояния между колонками*/
	row-gap: 0; 
	justify-items: start; /*позиционирование грид элементов внутри грид контейнера*/
	align-items: center;
	
	/*justify-content: center;*/
	align-content: center;
}



.header_image {
	width: 100%;
	height: 100%;
	grid-area: A;
	padding-left: 30px;
}



.header_title {
    width: 100%;
    grid-area: B;
    
    padding: 0 40px 0 30px;
    align-self: end;
    justify-self: center;
}


.header_text {
	width: 100%;
	grid-area: C;
	padding: 0 40px 0 30px;
}






.btn_download_wrapper {
	display: flex;
    justify-content: flex-end;
    align-items: center;
	width: 100%;
	grid-area: D;
	
	padding-right: 100px;
	justify-self: end;
	align-self: end;
	
    
}

.qr_and_play_container {
	width: 180px;
	/*height: 100px;*/
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr_header {

	background-color: #fff;
	width: 80px;
	height: 80px;
}

.qr_header img {
	width: 80px;
	height: 80px;

}


#download {
	display: block;
	/* display: inline-block; */
	text-align: end;

}

/*
#download img {
	width: 150px;
}
*/





.header_title p2 {
	
	display: block;
	
	margin-top: 16px;
    color: #fff;
    font-size: 1.6rem;
    /*text-transform: uppercase;*/
    display: block;
    letter-spacing: 3px;
    line-height: 1;
    color: #a0d091;
}
/*
header.mini .header_title {
    display: none;
}
*/
.mnu {
	position: absolute;
	bottom: 0;
	right: 0;
    /*width: 100%;*/
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    z-index: 7000;
}



.logo_mnu_wrapper.mini .mnu {
    	

	display: flex;
    justify-content: center;
    align-items: center;
}


.logo_mnu_wrapper.mini.mini>ul {	
	pointer-events: none;
    opacity: 0;
    transition: all 1s;
}



.mnu>ul {
    /* display: inline; */
    list-style: none;
	margin: 0 30px 0 0;
	padding: 0;
	
    /* width: 80%; */
    height: 100%;
    
}

.mnu>ul>li {
	height: 100%;
    float: left;
    color: #fff;   
    font-size: 1rem;
    line-height: 1;
    
    
    /*border-left: 1px #fff solid;*/
    text-transform: uppercase;
    
    display: flex;
    justify-content: start;
    align-items: center;
}

.mnu>ul>li:hover {
	/*background-color: #4f7942;*/	
	background-color: none;
}



.mnu>ul>li img {
	height: 16px;
	pointer-events: none;

}





.mnu a {
	
	color: #e0e0e0;
	text-decoration: none;
	padding: 0 15px;
	border-left: 1px #bdbdbd solid;
	/*
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
	*/
}






.small_info_wrapper {
	width: 100%;
	height: 100px;
	background-color: #fff;
	display: flex;
    justify-content: center;
    align-items: center;
    
}


.container.no_padding {
	padding: 0;
	width: 90%;
	height: 70%;
}


.small_info {
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}




.small_info_items {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 33%;
	height: 100%;
	
	
	
	/*min-width: 170px;*/
	
	border-left: 1px #bebebe solid;

}


.small_info_items:first-child {
	border-left: none;
}


section>.small_info_wrapper>p {

	font-size: 1.8rem;
	margin: 0;
	
}

.small_info_items img {

	height: 26px;
	
	
}



.small_info_items_text {
	
	margin-left: 15px;
	font-size: 1.2rem;
	color: #656565;
}


.small_info_items_text span {
	font-size: 1.4rem;
	color: #000;
}


.padding_top {
    width: 100%;
    height: 0;
    background-color: #4f7942;
}



.small_info .container {
	margin:0 auto;
    width: 90%;
    /*max-width: 2500px;*/
    padding: 0;
}



section {
    width: 100%;
    /* margin-top: 400px; */
    font-size: 1.8rem;
    /*background-color: #fff;	*/
}


.section_title {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 140px;*/
    line-height: 1;
	padding: 40px 0;
	background-color: #c1c2af;

}

.treangle {

	 width: 100%;
    height: 78px;
}





.section_title_wraper {
	width: 100%;
	/*display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;*/
	/*padding-top: 50px;*/
}



/* ----------------ЦВЕТА--------*/

.color_main_green {
	background-color: #4f7942;	
}

.color_main_green  h2 {
	color: #fff;
}

.color_main_green  h3 {
	color: #bdbdbd;
}




.color_grey {
	background-color: #e0e0e0;	
}

.color_grey h2 {
	color: #000;
}

.color_grey h3 {
	color: #656565;
}


.light_green {
	background-color: #a0d091;	
}

.light_green h2 {
	color: #000;
}

.light_green h3 {
	color: #656565;
}


.dark {
	background-color: #000;	
}

.dark h2 {
	color: #fff;
}

.dark h3 {
	color: #656565;
}




.color_white {
	background-color: #fff;	
}

.color_white h2 {
	color: #000;
}

.color_white h3 {
	color: #656565;
}


.color {

	background-color: #556832;
}

.color h2 {

	color: #fff;
}


.color h3 {

	color: #bdbdbd;
}


.separator {
	min-width: 30%;
	height: 1px;
	background-color: #000;

}

.section_title img {

	height: 30px;
	float: left;

}


#news .section_title {
	background: #556832;
}


#news h2 {
	color: #fff;
}

#news h3 {
	color: #fff;
}

#install {
	background-color: #556832;
}

#install .section_title {
	
	background: #556832;
}

#install h2 {
	color: #fff;
}

#install h4 {
	color: #fff;
	margin: 23px 0 40px;
}



/*
.section_title.none_background { 
    background: none;
}

.section_title.none_background h2 { 
   margin-top: 0;
}
*/


section h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 0 20px;
    color: #000;
    text-align: center;
}

section h3 {
    font-size: 1.6rem;
    margin: 0;
    font-weight: normal;
    color: #656565;
    text-align: center;
}

section p {
    color: #000;
    font-size: 1.4rem;
    background: none;
}

.container {
    margin:0 auto;
    width: 88%;
    max-width: 1900px;
    padding: 50px 0 70px;
}




#news ul {
	padding: 0;
}

#news ul li {
	padding-bottom: 50px;
}



.screenshot img {

	
	
	width: auto;
    height: 500px;
}


/*

.why_container {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	justify-content: space-around;
	
}


.why_item {
	width: 20%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	margin: 0;
	
	padding: 20px 0;
	
	cursor: pointer;
}


.why_icon, .why_text {
	
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: center;
	
	

}

.why_icon {
	
	height: 70px;
	height: 100px;
}



.why_text {
	height: 160px;

}

.why_icon img {
	width: 70px;
	

}

.why_icon .so_bigger img {
	width: 80px;

}


.why_icon .so_small img {
	width: 55px;

}

.why_text {
	font-size: 1rem;
	color: #656565;
	border: 1px #a1d092 solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #a1d092;
}


.why_text span {
	display: block;
	width: 80%;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #000;
	color: #fff;
	border-bottom: 1px #d7d7d7 solid;
	padding-bottom: 10px;
}

*/








.why_container {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.why_item_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* height: 500px; */
	/* padding: 0 30px; */
}


.why_item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* width: 100%; */
	/* height: 30%; */
	font-size: 1.4rem;
	padding: 60px 0;
}




.why_icon {
	/* height: 100%; */
	-webkit-flex-shrink: 3; 
	flex-shrink: 2;
	/* width: 40%; */
	display: flex;
	justify-content: center;
	align-items: center;
}


.why_icon img {
	height: 28px;
}


.why_text {
	
	color: #bdbdbd;
	width: 290px;
	font-style: italic;
}

.why_text.align_right {
	
	text-align: right;
	padding-right: 15px;
}

.why_text.align_left {
	
	text-align: left;
	padding-left: 15px;
}

.why_text span {
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	font-style: normal;
	font-size: 1.4rem;
}




.circle {
	margin: 50px;
	/* border: 1px #fff solid; */
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4f7942;
	transition: margin .5s;
}

.calc {

	width: 100px;

}

.circle:hover {
	cursor: pointer;
	margin: 0;
}

.circle_icon {
	border: 1px #fff solid;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #556832;
	cursor: pointer;
}











#install .container {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#install .btn_download_wrapper {
	/*width: 300px;*/
	position: static;
	justify-content: center;
}

#install .btn_download_wrapper img {
	height: 18px;
}







.phone_container {
	/*
 	background-image: url("../img/phone.svg");
    background-size: contain;
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	*/
    /* width: 336px;
    height: 579px; */
	
	width: 210px;
	/*min-width: 250px;*/
    height: 423px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}



.phone2 {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	
	pointer-events: none;
}


.back {
	
	
	width: 89%;
	height: 94%;
	/* margin: 20px; */
	background-color: #fff;
}



.qr_wrapper {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	/* margin: 120px 0; */
	/* margin-bottom: 120px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.qr_container {
	width: 150px;
	height: 150px;
	background-color: #fff;
}

.qr_img {
	width: 150px;
	/*border: 10px #000 solid;*/
	

}


.link_to_download {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 70px;
	left: 0;
}

.goto_play {
	width: 150px;
	/*height: 58px;*/
}

.goto_play_down {

	width: 150px;

}



[class^="screenshot-"] {

	display: grid;
	place-items: center;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	/*border: 1px #d1d1d1 solid;*/
}







/*-----------------------------------------------------------------------*/

.screenshots_container {
	 width: 100%;
	
	display: grid;
	/*gap: 20px;*/ /*отступ*/
	grid-template-columns: 20% 20% 20%; /* кол-во и ширина колонок*/
	grid-template-rows: repeat(3, 1fr); /* кол-во и высота колонок*/
	grid-template-areas:
	"A B C"
	"D E F"
	"G H I";
	column-gap: 130px; /*расстояния между колонками*/
	row-gap: 50px; 
	justify-items: center; /*позиционирование грид элементов внутри грид контейнера*/
	align-items: center;
	
	justify-content: center;
	align-content: center;
}


.screenshots_container img {
	width:  150px;
	/*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);*/
	/*border: 2px #d1d1d1 solid;*/
	box-shadow: 0 0 3px 3px rgba(79, 121, 66, 0.5);
}

.screenshots_container img:hover {
	box-shadow: 0 0 5px 10px rgba(79, 121, 66, 0.5);

	
}


.screenshot-1 {
	grid-area: A;
}

.screenshot-2 {
	grid-area: B;
}

.screenshot-3 {
	grid-area: C;
}

.screenshot-4 {
	grid-area: D;
}

.screenshot-5 {
	grid-area: E;
}

.screenshot-6 {
	grid-area: F;
}

.screenshot-7 {
	grid-area: G;
}


.screenshot-8 {
	grid-area: H;
}

.screenshot-9 {
	grid-area: I;
}




footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 1.4rem;
}



.phone  {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 50px;
	/*margin:0 auto;*/
}

.phone img {
	width: 250px;
}


.header_image a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}


/*        
                              Слайдер                                    */
.slider {

	display: flex;
    align-items: center;
    justify-content: center;
	
	width: 100%;
	/*min-width: 160px;*/
    height: 100%;
    
    position: relative;
}




#left_btn, #right_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 50%;
    border: 1px #999 solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(0, 0, 0) ;
    font-size: 2rem;
    cursor: pointer;
}

#left_btn {
    left: 10px;   
}

#right_btn {
    right: 10px;
}
.slider_container {
    margin: auto;
	
    width: 80%;
    height: 90%;
    
    position: relative;
    overflow: hidden;
    /*border: 10px #000 solid;*/
	border-radius: 2%;
}
/*
.slide_1, .slide_2, .slide_3, .slide_4, .slide_5, .slide_6, .slide_7 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}
*/

.slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}


.slide {
    opacity: 0;
    
}

.on {
    opacity: 1;
}


.phone01 {
 	background-image: url("../img/Main_Phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}




.slide_1 {
    background-image: url("../img/header_slider/Screenshot_01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_2 {
    background-image: url("../img/header_slider/Screenshot_02.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_3 {
    background-image: url("../img/header_slider/Screenshot_03.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_4 {
    background-image: url("../img/header_slider/Screenshot_04.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_5 {
    background-image: url("../img/header_slider/Screenshot_05.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_6 {
    background-image: url("../img/header_slider/Screenshot_06.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_7 {
    background-image: url("../img/header_slider/Screenshot_07.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_8 {
    background-image: url("../img/header_slider/Screenshot_08.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slide_9 {
    background-image: url("../img/header_slider/Screenshot_09.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}







#mnu_btn {
	display: none;

}


#mnu_btn {
	margin-right: 30px;
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 10;

	
	
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;

	float: right;
	cursor: pointer;

   
   
    /*background-color: #ca4aca;*/
    background: none;
    transition: all .5s;
}

.mnu.active>#mnu_btn {
	background: none;
}

#mnu_btn>div {
	position: relative;
	opacity: 1;
	transform: rotate(0deg);
	user-select: none;
	pointer-events: none;
	border: 1px #fff solid;
	background-color: #fff;
	width: 60%;
	height: 0;
	margin-top: 12%;
	transition: all .5s;
}



#mnu_btn>div:first-child {
	
	margin-top: 0;
}


/*.left_mnu.active>.mnu_btn>.item_top*/

#mnu_btn.active .item_top {
	transform: rotate(-225deg);
	top: 4px;
}

#mnu_btn.active .item_bottom {
	transform: rotate(-135deg);
	top: -10px;
}

#mnu_btn.active .item_middle {
	opacity: 0;
}


#mnu_btn.mini {
	
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		z-index: 7100;
	}


/*меню активно - показать*/


.mnu.active {
	width: 100%;
	right: 0;
	z-index: 7000;
	
}

.mnu.active ul {
	pointer-events: auto;
    opacity: 1;
}




.mnu.mini {
		
	position: fixed;
	top: 0;
	left: 100%;
	transition: left 1s;
	height: 100vh;
	background-color: #556832;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	visibility: hidden;
}
	
.mnu.mini.active {
	right: 0;
   	left: 0;
   	
   	position: fixed;
	top: 0;
	
	transition: left 1s;
	height: 100vh;
	min-height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	visibility: visible;
}

.mnu.mini>ul {
	height: auto;
   	width: auto;
   	margin: 0;
}
	
.mnu.mini>ul>li {
	height: 40px;
    float: none;
   	width: 200px;
   	min-width: 150px;    
   	width: 100%;
    text-align: center;
}
	
.mnu.mini>ul>li>a {
	border: none;
	font-size: 1.8rem;
}






.help {
	text-transform: uppercase;
	color: #000;
	margin: 50px 0 30px;
}


#help p {
	color: #656565;
}



.help_container {
	width: 100%;
	border-bottom: 1px #656565 solid;
	margin-bottom: 30px;
	display: flex;
    align-items: center;
    justify-content: center;

}

.help_container:last-child {
	border: none;
}



.help_img {
	padding: 20px 30px 0 0;
	text-align: center;
}


.help_img img {
	width: 200px;
	border: 1px #656565 solid;
	transition: all 0.5s;
	box-shadow: 0 0 5px 5px rgba(79, 121, 66, 0.5);
	display: block;
	margin-bottom: 20px;
}




.help_text span {
	font-size: 1.5rem;
	
}


.mnu_li_color_span {
	text-decoration: underline;
}


.mnu_btn_color_span {
	color: #fff;
	background-color: #4f7942;
	text-decoration: none;
}

.icons {
	width: 16px;
}





.help_img img:hover {
	/*
	top: -50px;
	left: -50px;
	*/
	width: 280px;
	border: 1px #656565 solid;
	cursor: pointer;
	box-shadow: 0 0 8px 8px rgba(79, 121, 66, 0.5)
}



#popup_shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0);
	/*background: none;*/
	display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9990;
    transition: background 0.5s;
    pointer-events: none;
	visibility: hidden;
}


#popup_shadow.dark {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .9);
	pointer-events: auto;
	visibility: visible;
}


.zoom_screen_wrapper {
	/* width: 100%;
	height: 100%; */
	pointer-events: none;

	position: relative;
	
	
}

#popup_shadow.dark .zoom_screen_wrapper {
	pointer-events: auto;

}

#img_container {
	
	display: none;
	/*padding: 30px;*/
	position: relative;
	pointer-events: none;
	z-index: 9993;
	margin: 0 50px;
}

#popup_shadow.dark #img_container {
	display: flex;
    align-items: center;
    justify-content: center;
}

.zero {
	height: 0;
	transition: opacity 1s, visibility 0s linear 1s;
	visibility: hidden;
	opacity: 0;

}

.zoom {
	visibility: visible;
	z-index: 9992;
	/* height: 85vh;
	max-width: 95vw; */
	pointer-events: auto;
	/* border: 1px #fff solid; */
	/* margin: 10px; */
	opacity: 1;
	transition-delay: 0s;
}

.close_btn {
	
	width: 31px;
	height: 31px;
	position: absolute;
	top: 0;
	right: 15px;
	user-select: none;
	cursor: pointer;
	transition: all .5s;
	z-index: 9995;
}



.close_btn:hover .close_btn_hor, .close_btn:hover .close_btn_vert {

	transform: rotate(315deg);
} 



.close_btn_hor, .close_btn_vert {
	position: absolute;
	/* background-color: #fff; */
	border: 1px #fff solid;
	transform: rotate(45deg);
	transition: all .5s;
	pointer-events: none;
}

.close_btn_hor {
	top: 14px;
	left: 5px;
	width: 24px;
	height: 1px;
	
}

.close_btn_vert {
	top: 3px;
	left: 15px;
	width: 1px;
	height: 24px;
}



.nav_btn {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9994;
	font-size: 4rem;
	color: #fff;
	display: flex;
    align-items: center;
    justify-content: space-between;
	pointer-events: none;
}




.prev_btn, .next_btn {
	/* display: inline; */
	width: 60px;
	height: 60px;
	/* border: 1px #000 solid; */
	/* border-radius: 50%; */
	display: flex;
    align-items: center;
    justify-content: center;
	/* background-color: rgba(0, 0, 0, 1); */
	opacity: 0.3;
	transition: opacity 0.5s;
	cursor: pointer;
	pointer-events: auto;
	user-select: none;
}

.prev_btn:hover, .next_btn:hover {
	opacity: .9;
}